{% extends 'base.html.twig' %}


{% block body %}

<div class="container-fluid">

	<nav class="navbar navbar-expand-lg navbar-light bg-info">
	  <a class="navbar-brand" href="#">Administration</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item dropdown  {% if controller_name is defined and controller_name == "CarteController" %}active{% endif %}">
			<a class="nav-link dropdown-toggle" href="{{ path('carte.index')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Cartes
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="{{ path('carte.crud.create')}}">Créer une carte</a>
			  <a class="dropdown-item" href="{{ path('carte.index')}}">Liste des cartes</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="#">Something else here</a>
			</div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Link</a>
		  </li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		  <input class="form-control mr-sm-2" type="search" placeholder="Mot-clé" aria-label="Search">
		  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
		</form>
	  </div>
	</nav>
	
	{% block principal %}{% endblock %}
	
</div>

{% endblock %}
