{% extends 'base.admin.html.twig' %}

{% block title %}Création de carte aléatoire{% endblock %}

{% block principal %}

	<div class="container mt-4">
		<h1>Créer une nouvelle carte aléatoire</h1>
		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-9">
					{{ form_row(form.nom) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					{{ form_row(form.description) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					{{ form_row(form.circonference) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					{{ form_row(form.nb_forets) }}
				</div>
				<div class="col-md-3">
					{{ form_row(form.nb_rivieres) }}
				</div>
				<div class="col-md-3">
					{{ form_row(form.nb_chaine_montagnes) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					{{ form_row(form.temperature_min) }}
				</div>
				<div class="col-md-3">
					{{ form_row(form.temperature_max) }}
				</div>
			</div>
			<div class="row  justify-content-md-end">
				<div class="col-md-3">
					<button class="btn btn-success btn-block" type="submit"> Lancer la création <i class="fas fa-magic"></i></button>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
{% endblock %}
