{% extends 'base.admin.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block principal %}
	
	<div class="container mt-4">
		
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{message}}</div>
		{% endfor %}
		
		<div class="row">
			<a href="{{path('carte.crud.create')}}" class="btn btn-info"><i class="fas fa-plus-square"></i> Créer une nouvelle carte</a>
		</div>
		<div class="row mt-2">
			<table class="table table-striped table-hover">
			  <thead>
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Nom</th>
				  <th scope="col">Circonférence</th>
				  <th scope="col">Nb Rivières/Montagnes/Forêts</th>
				  <th scope="col">Température min/max</th>
				  <th scope="col" class="text-center">Visualiser</th>
				  <th scope="col" class="text-center">Supprimer</th>
				</tr>
			  </thead>
			  <tbody>
			{% for carte in cartes %}
				<tr>
					<th scope="row">{{carte.id}}</th>
					<td>{{carte.nom}}</td>
					<td>{{carte.circonference}}</td>
					<td>{{carte.nbRivieres}}/{{carte.nbChaineMontagnes}}/{{carte.nbForets}}</td>
					<td>{{carte.temperatureMin}}/{{carte.temperatureMax}}</td>
					<td class="text-center"><button class="btn btn-info" type="submit"><i class="fas fa-eye"></i></button></td>
					<td class="text-center">
						<form method="post" action="{{ path('carte.crud.delete', {id : carte.id}) }}" onSubmit="return confirm('Etes-vous certains de vouloir supprimer cette carte ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carte.id) }}">
							<button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
						</form>
					</td>
				</tr>
			{% endfor %}
			  </tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
{% endblock %}
